section.file {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    
    label {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        border: 1px dashed var(--mosgroen);
        background-color: var(--secondary-bg-color);
        border-radius: 0.5rem;
        
        input{
            appearance: none;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
    
    > section{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 0.5rem;

        img{
            width: 100%;
            height: auto;
            border-radius: .5rem;
        }
    }
}

@media (min-width:730px){
    section.file{
        max-width: 30em;
        display: flex;
        align-self: center;
    }
}