button.button{
    background-color: #00CD8E;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 1000px;
    align-self: flex-start;

    &:disabled{
        background-color: #D3D3D3;
        color: #A9A9A9;
        cursor: not-allowed;
    }
}