nav.progress {
    ul {
        display: flex;
        justify-content: space-between;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            .step {
                $size: 2rem;

                display: grid;
                place-content: center;
                width: $size;
                height: $size;
                background-color: white;
                border-radius: 50%;
                font-weight: 700;
                color: #1D1B27;
                font-size: 20px;

                $position-top: 9.8rem;
                $position-left: 1.5rem;
                $bar-height: 15px;

                &::before {
                    content: "";
                    position: absolute;
                    top: $position-top;
                    left: $position-left;
                    width: 88%;
                    height: $bar-height;
                    border-radius: 15px;
                    background-color: white;
                    z-index: -10;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: $position-left;
                    top: $position-top;
                    width: 15%;
                    height: $bar-height;
                    border-radius: 15px;
                    background-color: #00CD8E;
                    z-index: -1;
                }

                &.active {
                    background-color: #00CD8E;
                    color: white;
                }

                // &.current {
                //     border: .5px solid black;
                // }

                span {
                    position: absolute;
                    bottom: $size * -0.75;
                    color: #00CD8E;
                    font-size: 1rem;
                }
            }

            &:nth-of-type(2) {
                .step {
                    &.active {
                        &::after {
                            width: 35%;
                            z-index: -2;
                        }
                    }
                }
            }

            &:nth-of-type(3) {
                .step {
                    &.active {
                        &::after {

                            width: 60%;
                            z-index: -3;
                        }
                    }
                }
            }

            &:nth-of-type(4) {
                .step {
                    &.active {
                        &::after {

                            width: 75%;
                            z-index: -3;
                        }
                    }
                }
            }

            &:nth-of-type(5) {
                .step {
                    &.active {
                        &::after {

                            width: 88%;
                            z-index: -3;
                        }
                    }
                }
            }
        }
    }
}
