section.heading{
    h2{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
    }
}

section.information{
    h3{
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
    }
}