li.card{
    scroll-snap-align: start;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 160px;
    transition: padding 0.2s ease-in-out, flex-grow 0.2s ease-in-out;
    scroll-padding-bottom: 8rem;

    &:focus-within{
        flex-grow: 100;
        outline: 2px solid var(--tertiary-bg-color);
        outline-offset: 0.5rem;
        border-radius: 0.5rem;
    }

    a{
        display: inline-block;
        width: 100%;
        color: #355841;

        section{
            height: 200px;

            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 0.5rem;
            }
        }

        div{
            h2{
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
            }

            h3{
                text-align: center;
                font-weight: 200;
            }

        }

        &:focus{
            outline: none;
        }
    }
}

@media (min-width: 730px){
    li.card{
        width: calc(100% / 17 * 4 );

        a{
            section{
                height: 25em;

                img{
                    border-radius: 1.3em;
                }
            }
        }
    }
}