li.card{
    scroll-snap-align: start;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    width: 160px;
    // height: 180px;

    a{
        display: inline-block;
        width: 100%;
        color: #355841;

        section{
            height: 200px;

            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: 0.5rem;
            }
        }

        div{
            h2{
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
            }

            h3{
                text-align: center;
                font-weight: 200;
            }

        }
    
    }
}

@media (min-width: 730px){
    li.card{
        width: calc(100% / 17 * 4 );

        a{
            section{
                height: 25em;

                img{
                    border-radius: 1.3em;
                }
            }
        }
    }
}