.identifier{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        padding: 1rem 2rem;
        background-color: var(--bos);
        border-radius: 2rem;
        font-size: 1.25rem;
        font-weight: bold;
    }
}

section.results{
    margin-top: 35px;

    div.heading{
        display: flex;
        gap: 10px;

        span{
            font-weight: 300;
        }
    }

    p{
        margin-bottom: 30px;
    }
}