$placeholder-opacity: 0.5;

input.input {
    background-color: white;
    border-radius: 1000px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    color: #355841;
    
    &::placeholder {
        opacity: $placeholder-opacity;
    }
}

label.label {
    font-size: 16px;
    font-weight: bold;
}

textarea.textarea {
    background-color: white;
    border: none;
    color: #355841;
    border-radius: 20px;
    min-height: 100px;
    padding: 10px 20px;
    font-size: 16px;

    &::placeholder {
        opacity: $placeholder-opacity;
    }
}
