section.succes{
    display: flex;
    flex-direction: column;
    align-self: center;
    img{
        max-width: 20em;
        mix-blend-mode: darken;
    }

    h1{
        text-align: center;
    }
}