.identifier{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        padding: 1rem 2rem;
        background-color: var(--bos);
        border-radius: 2rem;
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    > div{
        position: fixed;
        inset-inline: 1rem;
        bottom: 6rem;
        flex: 0 1 100px;
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        button {
            padding: 10px 20px;
            border: none;
            cursor: pointer;

            &:first-child {
                background-color: var(--tertiary-bg-color);
            }
            
            &:last-child {
                background-color: var(--primary-bg-color);
            }
        }
    }
    > span{
        color: var(--tertiary-bg-color);
        font-size: 1.25rem;
        font-weight: bold;
        align-self: center;
    }
}

@media (min-width:730px){
    .identifier{
        
        h1{
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
}