figure.cover{
    height: 35vh;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

section.information{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}