button.next{
    background-color: #00CD8E;
    color: white;
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 2rem;
    width: 80%;
}

@media (min-width: 730px) {
    button.next{
        bottom: 9rem;
    }
}