button.next{
    background-color: var(--bos);
    color: white;
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-weight: 800;
    border-radius: 2rem;
    width: 80%;
}