section.about{
    margin-block: 2em;

    span{
        color: var(--primary-bg-color);
    }
}

@media (min-width: 730px){
    section.about{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2em;
        max-width: 36em;
    }
}