.intro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            font-size: 1.1em;
        }

        a{
            font-weight: 300;
            color: #355841;
        }
    }

    h2{
        font-size: 1.1em;
    }

    ul {
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding: 1rem 0;
    }

    ul::-webkit-scrollbar {
        display: none;
    }
}