input.search{
    width: 100%;
    background-color: white;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    margin-top: 21px;
    margin-bottom: 20px;

    &::placeholder{
        color: black;
        font-weight: 500;
        font-size: 1.2em;
        opacity: 0.5;
    }
}
