footer.nav{
    position: fixed;
    bottom: 1rem;
    inset-inline: 1rem;

    padding: 1rem;
    background-color: #355841;
    border-radius: 5rem;

    nav{
        ul{
            display: flex;
            justify-content: space-between;

            li{
                color: white;
            }
        }
    }
}