footer.nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 3rem 1rem 3rem;
    background-color: white;

    nav{
        ul{
            display: flex;
            justify-content: space-between;
            margin: auto;

            li{
                opacity: .5;
            }

            li.active{
                opacity: 1;
            }

            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                text-decoration: none;

                img{
                    width: 30px;
                    height: 30px;
                }

                p{
                    font-size: 1em;
                    color: black;
                }
            }
        }
    }
}

@media (min-width: 730px) {
    footer.nav{
        max-width: 40em;
        border-radius: 10em;
        max-height: 87px;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}