section.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;

    h1{
        font-size: 1rem;
    }

    button{
        background-color: var(--tertiary-bg-color);
        align-self: auto;
    }
}